<!--
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Hola!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="competitions" role="button">Competiciones  &raquo;</a></p>
  </div>
</div>

-->

<link rel="stylesheet"  href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >

<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://piripopero.github.io/corte2.mp4" type="video/mp4">
  </video>

  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Football Stats</h1>
      </div>
    </div>
  </div>
</header>


<br /><br />


      <div class="container marketing">
        <h3>Principales ligas</h3>
        <br /><br />

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4  text-center">
            <img  class=" mx-auto d-block"  src="https://upload.wikimedia.org/wikipedia/commons/9/92/LaLiga_Santander.svg" alt="Generic placeholder image" width="76" height="76">
            <br /><br />

            <p> LaLiga Santander es la máxima categoría masculina del sistema de
               ligas de España y la principal competición a nivel de clubes del país. </p>
            <p><a class="btn btn-secondary" href="teams/2014" role="button">Ver equipos &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4  text-center">
            <img   class=" mx-auto d-block" src="https://2.bp.blogspot.com/-77TyLrlV0vQ/XIodU5MeSmI/AAAAAAAAI7o/AFeb-IB1NcYKCjZvq1-VMFx58MR9Ob99ACK4BGAYYCw/s1600/logo%2Bpremier%2Bleague%2Bfootball.png" alt="Generic placeholder image" width="180" height="76">
            <br /><br />
            <p>La Premier League, también conocida como The Premiership,
               es la máxima categoría del sistema de ligas de fútbol de Inglaterra.</p>
            <p><a class="btn btn-secondary" href="teams/2021" role="button">Ver equipos &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 text-center">
            <img class=" mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/5/52/Uefa_champions_league_logo.png" alt="Generic placeholder image" width="76" height="76">
            <br /><br />

            <p>La UEFA Champions League es el torneo internacional oficial de fútbol
               más prestigioso a nivel de clubesa nivel europeo.</p>

            <p><a class="btn btn-secondary " href="teams/2001" role="button">Ver equipos &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          
        </div><!-- /.row -->

        <section class="my-5">
          <div class="container">
            <div class="row">
              <a class="btn btn-primary mx-auto  black-background white" href="competitions" role="button">Ver todas las competiciones</a>
        
        
            </div>
          </div>
        </section>
        <div class="container marketing">
          <h3>Principales equipos</h3>
          <br /><br />
          <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4  text-center">
            <img  class=" mx-auto d-block"  src="https://upload.wikimedia.org/wikipedia/commons/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg" alt="Generic placeholder image" width="76" height="76">
            
            <p><a class="btn btn-light mt-4" href="players/5" role="button">Ver jugadores &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4  text-center">
            <img   class=" mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/commons/1/15/Juventus_FC_2017_logo.svg" alt="Generic placeholder image" width="180" height="76">
           
            <p><a class="btn btn-light mt-4" href="players/109" role="button">Ver jugadores &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 text-center">
            <img class=" mx-auto d-block" src="https://upload.wikimedia.org/wikipedia/sco/e/eb/Manchester_City_FC_badge.svg" alt="Generic placeholder image" width="76" height="76">


            <p><a class="btn btn-light mt-4" href="players/65" role="button">Ver jugadores &raquo;</a></p>
            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4  text-center">
            <img  class=" mx-auto d-block  mt-4"  src="https://logodownload.org/wp-content/uploads/2017/02/atletico-madrid-logo.png" alt="Generic placeholder image" width="57" height="76">

            
            <p><a class="btn btn-light mt-4" href="players/78" role="button">Ver jugadores &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4  text-center">
            <img   class=" mx-auto d-block  mt-4" src="https://crests.football-data.org/86.svg" alt="Generic placeholder image" width="180" height="76">
           
            <p><a class="btn btn-light mt-4" href="players/86" role="button">Ver jugadores &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4 text-center">
            <img class=" mx-auto d-block  mt-4" src="https://upload.wikimedia.org/wikipedia/sco/4/47/FC_Barcelona_%28crest%29.svg" alt="Generic placeholder image" width="76" height="76">


            <p><a class="btn btn-light mt-4" href="players/81" role="button">Ver jugadores &raquo;</a></p>
        </div><!-- /.row -->
<router-outlet></router-outlet>
      
