
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" rel="stylesheet"/>
   <main role="main" class="container">
    <div class="jumbotron">
        <h1><b>{{competition.name}}</b></h1>
        <br /><br />
        <h3>
            País:
            <small class="text-muted">{{competition.pais}}</small>
        </h3>
        
        
    </div>
</main>

   <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="card bg-light my-5">
              <div class="card-body">
                <div class="panel panel-primary">
                  <div class="panel-heading">
                    <h2>Lista de equipos </h2>
                  </div>
                  <br/><br/>

                  <div class="panel-body">
                    <p><input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar por Nombre "></p> 
                      
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Escudo</th>

                            <th scope="col">Nombre</th>
                            <th scope="col">Año de fundación</th>
                            <th scope="col">Estadio</th>
                            <th scope="col"></th>
                            <th scope="col"></th>

                          </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let team of teams ">

                          <tr>
                            <td><img class="rounded mx-auto d-block" style="width: 30px;" src="{{team.crestUrl}}" alt="Chania"></td>
                            <td>{{team.name}}</td>
                            <td>{{team.founded}}</td>
                            <td>{{team.venue}}</td>
                           
                            <td>
                                <button   (click)="showPlayers(team.id)" class="btn btn-info"
                                style="margin-left: 3px"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
        
                            </td>
                            <td>
            
                                <a href="{{team.website}}"  class="btn btn-default" role="button" style="margin-left: 3px"><i class="fa fa-link" aria-hidden="true"></i>Website</a>

                               </td>

                          </tr>
                        </ng-container>

                        </tbody>
                      </table>
                     
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>